<!DOCTYPE html>
<html>
	<head>
		<title>JSLint<%= reports.length === 1 ? " : " + reports[0].file : "" %></title>
		<script type="text/javascript" src="../server/jquery-1.7.1.min.js"></script>
		<script type="text/javascript">
			$(function() {
				$("div#functions").hide();
				$("div.filename a").each(function(a) {
					$(this).attr("href", "?"+$.param({filename: $(this).text()}));
				});
				var report_regex = /^Error:Implied global: Euclase\s\d+$/gi;
				$("div.file_report").each(function(index, file_report) {
					var report = $(".report", file_report);
					var report_text = report.text();
					if(report_text.match(report_regex)) {
						$(file_report).hide();
					}
				});
			});
		</script>
		<style type="text/css">
			div.filename {
				font-weight: bold;
			}
		</style>
	</head>
	<body>
		<%
		var ignore_files = ["underscore_cjs.js"];
		reports.forEach(function(report) {
		%>
		<%
			var file = report.file;
			var lint = report.lint;
			for(var i = 0, len = ignore_files.length; i<len; i++) {
				if(file.indexOf(ignore_files[i])>=0) {
					return;
				}
			}
		%>
		<div class="file_report"><div class="filename"><a href="javascript:void(0)" target="<%= file %>"><%= file %></a></div><div class="report"><%- lint %></div></div>
		<%
		});%>
	</body>
</html>
