body {
	background-color: #464646;
	background-image: url(textures/tweed/tweed.png);
}
.jumbotron {
    background-color: #333
}
.jumbotron h1 {
    color: #222;
    opacity: 0.6;
    text-shadow: 1px 1px #777;
    text-transform: uppercase;
    font-weight: strong;
    letter-spacing: -4px;
    text-align: center;
}

.container {
    background-color: white;
    margin-top: 50px;
    border: 1px solid #333;
    border-radius: 2px;
    box-shadow: 0px 0px 15px #444;
}

@media all and (-webkit-min-device-pixel-ratio : 1.5) {
    body {
        background-image: url(textures/tweed/tweed_@2X.png);
    }
}