body {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #464646;
	background-image: url(textures/tweed/tweed.png);
	tab-size: 4;
}
.container {
	background-color: white;
	border: 1px solid #222;
	border-radius: 3px;
	box-shadow: 0px 10px 30px #222;
}
.row.keystone {
	background-color: #333;
	background-image: url(textures/navy_blue/navy_blue.png);
	border-bottom: 5px solid #ffdc00;
	min-height: 60px;
}
.keystone h1, .keystone h2 {
	font-size: 30px;
	color: #AAA;
	font-weight: 100;
	text-shadow: 0px 0px 5px #222;
}
h1 span.cjs_name, h2 span.cjs_name {
	font-weight: 500;
}

footer {
	border-top: 1px solid #AAA;
	background-color: #C8C8C8;
	color: #333;
	text-shadow: 0px 1px 0px #DDD;
	padding-top: 10px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	background-image: linear-gradient(bottom, rgb(179,179,179) 25%, rgb(200,200,200) 82%);
	background-image: -o-linear-gradient(bottom, rgb(179,179,179) 25%, rgb(200,200,200) 82%);
	background-image: -moz-linear-gradient(bottom, rgb(179,179,179) 25%, rgb(200,200,200) 82%);
	background-image: -webkit-linear-gradient(bottom, rgb(179,179,179) 25%, rgb(200,200,200) 82%);
	background-image: -ms-linear-gradient(bottom, rgb(179,179,179) 25%, rgb(200,200,200) 82%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.25, rgb(179,179,179)),
		color-stop(0.82, rgb(200,200,200))
	);
}
footer a {
	color: #333;
	text-decoration: underline;
}
/* The tagline is hidden on small screens, but stays available to screen readers */
@media (max-width: 991px) {
	.keystone h1.tagline {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		border: 0;
	}
}

@media all and (-webkit-min-device-pixel-ratio : 1.5) {
    body {
        background-image: url(textures/tweed/tweed_@2X.png);
		background-size: 200px 200px;
    }
	.row.keystone {
		background-image: url(textures/navy_blue/navy_blue_@2X.png);
		background-size: 600px 385px;
	}
}
