body {
	padding-top: 80px;
	padding-bottom: 30px;
	background-color: #464646;
	background-image: url(textures/tweed/tweed.png);
	tab-size: 4;
}
.container {
	background-color: white;
	border: 1px solid #222;
	border-radius: 3px;
	box-shadow: 0px 10px 30px #222;
}
.row.keystone {
	background-color: #333;
	background-image: url(textures/navy_blue/navy_blue.png);
	border-bottom: 5px solid #ffdc00;
	min-height: 60px;
}
.keystone h2 {
	color: #AAA;
	font-weight: 100;
	text-shadow: 0px 0px 5px #222;
}
h2 span.cjs_name {
	font-weight: 500;
}
img#cjs_logo {
	position: absolute;
	left: 50%;
	margin-left: -100px;
	top: -100px;
	z-index:4;
	width: 200px;
}
.download {
	color: #AAA;
}

footer {
	border-top: 1px solid #AAA;
	background-color: #C8C8C8;
	color: #888;
	text-shadow: 0px 1px 0px #DDD;
	padding-top: 10px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	background-image: linear-gradient(bottom, rgb(179,179,179) 25%, rgb(200,200,200) 82%);
	background-image: -o-linear-gradient(bottom, rgb(179,179,179) 25%, rgb(200,200,200) 82%);
	background-image: -moz-linear-gradient(bottom, rgb(179,179,179) 25%, rgb(200,200,200) 82%);
	background-image: -webkit-linear-gradient(bottom, rgb(179,179,179) 25%, rgb(200,200,200) 82%);
	background-image: -ms-linear-gradient(bottom, rgb(179,179,179) 25%, rgb(200,200,200) 82%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.25, rgb(179,179,179)),
		color-stop(0.82, rgb(200,200,200))
	);
}
footer a {
	color: #888;
}
a .version {
	opacity: 0.6;
}
.filesize {
	font-size: 0.9em;
	text-align: right;
	color: #999;
	margin-bottom: 5px;
}
.mainlinks {
	padding-top: 70px;
	background-color: #DDD;
	border-right: 1px solid #AAA;
}

.biginfo.row { 
	color: #666;
	background-color: #EEE;
	border-bottom: 1px solid #AAA;
}
.biginfo .desc {
	font-weight: 200;
}
.desc h4 {
	text-transform: uppercase;
}

@media all and (-webkit-min-device-pixel-ratio : 1.5) {
    body {
        background-image: url(textures/tweed/tweed_@2X.png);
    }
	.row.keystone {
		background-image: url(textures/navy_blue/navy_blue_@2X.png);
	}
}
