.classname {
	font-size: 1.5em;
	padding-top: 5px;
	padding-bottom: 5px;
}

.returns .type, .param .type {
	padding-right: 5px;
	margin-right: 15px;
}

.params .param {
	margin-left: 20px;
	margin-right: 15px;
	min-width: 180px;
	font-weight: 400;
}

.param .name {
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
	margin-right: 8px;
	font-weight: 800;
	padding-right: 5px;
	padding-left: 15px;
}

.params .type {
	font-style: oblique;
	margin-right: 15px;
	color: #aaa;
	padding-left: 5px;
	padding-right: 5px;
}

.params {
	border: 1px solid #E7E7E7;
	border-radius: 2px;
}
.param {
	vertical-align: top;
}



.type:before {
	content: "(";
}
.type:after {
	content: ")";
}


.entry {
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 3px;
}


.panel-footer {
	text-align: right;
}
body {
	tab-size: 4;
}

.returns {
	vertical-align: top;
	background-color: #F5F5F5;
	border-top: 1px dashed #DDD;
}

.returns .static {
	color: #aaa;
	font-style: oblique;
	padding-left: 15px;
}

.or {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}
.description {
	width: 100%;
	padding-left: 5px;
}
.calldesc {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	color: #333;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
	background-color: #333;
	font-weight: 400;
	background-color: #CCC;
	border: 1px solid #999;
	padding: 2px;
}
.noparam {
	padding-left: 15px;
	color: #aaa;
	font-style: oblique;
}
.sidebar .nav {
	/*
	display: none;
	*/
	padding-left: 10px;
}
.sidebar .nav li > a {
	padding-top: 1px;
	padding-bottom: 1px;
}
.sidebar .nav.top {
	padding-left: 0px;
}
.sidebar .nav li.active {
	border-right: 2px solid red;
	background-color: #F0F0F0;
}
.sidebar {
	height: 500px;
	overflow: scroll;
	border: 1px solid #BBB;
	background-color: #F7F7F7;
}
li.haschildren > a {
	font-weight: 800;
	color: black;
}
