meta(name='viewport', content='width=device-width', charset='utf-8')

title= title

link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
link(rel='stylesheet', href='../style/stylesheet.css')
link(rel='stylesheet', href='../style/page_style.css')
link(rel='stylesheet', href='../resources/google-code-prettify/sunburst.css')
| <style type='text/css'>
include css/cjs-dox.css
| </style>